body {
	background: url(../images/pow-star.png);
	background-size: cover;
}

h1 {
	font-size: 28px;
	margin: 5px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.contain {
	flex: 1;
	border: 5px solid blue;
	max-width: 50%;
	padding: 5%;
	box-sizing: border-box;
}

img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

button {
	display: inline-block;
	margin: 5px;
}